<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Афиша - СОВРЕМЕННИК</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{base :: header}"></header>
<main>
    <h2>Покупаем билет</h2>
    <form th:action="'/ticket/buy/'+${filmSessionId}" method="post" >
        <p th:text="'Фильм: ' + ${film.title}"></p>
        <p th:text="'Дата и время сеанса: ' + ${#temporals.format(startOfSession, 'dd MMMM yyyy HH:mm', new java.util.Locale('ru', 'RU'))}">
            Дата и время сеанса: 16 ноября 2024 15:30</p>
        <p th:text="'Кинотеатр: ' + ${cinema.name}"></p>
        <p th:text="'Номер зала: ' + ${hall.hallNumber}"></p>
        <div>
            <div th:each="i : ${#numbers.sequence(1, rows)}">
                <input th:each="j : ${#numbers.sequence(1, seats)}"
                       th:name="'seat;;'+${i}+';;'+${j}+''"
                       th:disabled="${occupiedSeats[i-1][j-1]}"
                       type="checkbox">
            </div>
            <p>---- Экран -----</p>
        </div>
        <button>Купить</button>
    </form>

</main>
<footer th:replace="~{base :: footer}"></footer>
</body>
</html>
