<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Афиша - СОВРЕМЕННИК</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Russo+One&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap">
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <script th:inline="javascript">
        function countCheckedCheckboxes() {
            // Получаем все чекбоксы на странице
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            let count = 0;

            // Проходим по всем чекбоксам и проверяем, отмечены ли они
            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    count++;
                }
            });

            // Выводим количество отмеченных чекбоксов
            document.getElementById('selectedSeats').textContent = 'Выбрано мест: ' + count;
            document.getElementById('price').textContent = 'Итоговая стоимость: ' + count * [[${price}]];
        }

        // Функция будет вызываться каждый раз, когда изменяется состояние чекбоксов
        window.addEventListener('DOMContentLoaded', (event) => {
            // Слушаем изменения состояния чекбоксов
            document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                checkbox.addEventListener('change', countCheckedCheckboxes);
            });

            // Подсчитываем начальное количество активных чекбоксов
            countCheckedCheckboxes();
        });
    </script>
</head>
<body>
<header th:replace="~{base :: header}"></header>

<main class="buy-ticket">
    <h2 class="buy-ticket__title">Покупка билета</h2>

    <form th:action="'/ticket/buy/'+${filmSessionId}" method="post">
        <div class="film-info">
            <p class="film-info__title" th:text="'Фильм: ' + ${film.title}"></p>
            <p class="film-info__session-time"
               th:text="'Дата и время сеанса: ' + ${#temporals.format(startOfSession, 'dd MMMM yyyy HH:mm', new java.util.Locale('ru', 'RU'))}"></p>
            <p class="film-info__cinema-name" th:text="'Кинотеатр: ' + ${cinema.name}"></p>
            <p class="film-info__hall-number" th:text="'Номер зала: ' + ${hall.hallNumber}"></p>
        </div>

        <div class="seats-selection">
            <div class="seats-selection__grid" th:each="i : ${#numbers.sequence(1, rows)}">
                <div class="seats-selection__row">
                    <input class="seat-checkbox" th:each="j : ${#numbers.sequence(1, seats)}"
                           th:name="'seat;;'+${i}+';;'+${j}+''"
                           th:disabled="${occupiedSeats[i-1][j-1]}"
                           type="checkbox">
                </div>
            </div>
            <p class="seats-selection__screen">---- Экран ----</p>
        </div>

        <div class="ticket-summary">
            <p id="selectedSeats" class="ticket-summary__seats">Выбрано мест: 0</p>
            <p id="price" class="ticket-summary__price">Итоговая стоимость: 0</p>
            <button type="submit" class="ticket-summary__button">Купить</button>
        </div>
    </form>
</main>
</body>
</html>
