<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Админ панель - СОВРЕМЕННИК</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{base :: header}"></header>
<main>
    <h3 th:if="@{message}" th:text="${message}" style="color: green;"></h3>
    <h2>Это панель управления</h2>

    <p><a sec:authorize="hasAnyRole('SUPERADMIN','ADMIN')" th:href="@{/cinema}" href="/cinema">Управление кинотеатрами</a></p>
    <p><a sec:authorize="hasAnyRole('SUPERADMIN', 'DISTRIBUTOR')" th:href="@{/film}" href="/film">Управление фильмами</a></p>
    <p><a sec:authorize="hasAnyRole('SUPERADMIN','ADMIN')" th:href="@{/filmsession}" href="/filmsession">Управление сеансами</a></p>
    <p><a sec:authorize="hasAnyRole('SUPERADMIN', 'ADMIN', 'CASHIER')" th:href="@{/ticket/info}" href="/ticket/info">Заказы</a></p>

    <section>
        <p>Список фильмов</p>
        <ul>
            <li th:each="film: ${films}" th:text="${film.title}"></li>
        </ul>
    </section>

    <section>
        <p>Самые популярные фильмы</p>
        <ul>
            <li th:each="film: ${popularFilms}" th:text="'Фильм - ' + ${film[0]} + ' / Куплено билетов - ' + ${film[1]}"></li>
        </ul>
    </section>

    <section>
        <p>Самые непопулярные фильмы</p>
        <ul>
            <li th:each="film: ${unpopularFilms}" th:text="'Фильм - ' + ${film[0]} + ' / Куплено билетов - ' + ${film[1]}"></li>
        </ul>
    </section>

</main>
<footer th:replace="~{base :: footer}"></footer>
</body>
</html>
