<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Админ панель - СОВРЕМЕННИК</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Russo+One&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{base :: header}"></header>
<main class="page-main">
    <p><a href="/admin/dashboard" class="back-link">Назад</a></p>
    <section class="form-section">
        <h3 class="section-title">Создать новый сеанс</h3>
        <form th:action="@{/filmsession}" method="post" class="form">
            <div class="form-group">
                <label for="cinemaSelect" class="form-label">Выберите кинотеатр:</label>
                <select id="cinemaSelect" name="cinemaId" required class="form-input">
                    <option value="" disabled selected>Выберите кинотеатр</option>
                    <option th:each="cinema : ${cinemas}" th:value="${cinema.id}" th:text="${cinema.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="hallNumber" class="form-label">Выберите зал:</label>
                <input type="number" id="hallNumber" name="hallNumber" required min="1" oninput="validity.valid||(value='');" class="form-input">
            </div>
            <div class="form-group">
                <label for="filmSelect" class="form-label">Выберите фильм:</label>
                <select id="filmSelect" name="filmId" required class="form-input">
                    <option value="" disabled selected>Выберите фильм</option>
                    <option th:each="film : ${films}" th:value="${film.id}" th:text="${film.title}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="startOfSession" class="form-label">Дата и время начала сеанса: </label>
                <input type="datetime-local" id="startOfSession" name="startOfSession" class="form-input">
            </div>
            <div class="form-group">
                <label for="price" class="form-label">Цена билета на сеанс: </label>
                <input type="number" id="price" name="price" required min="1" oninput="validity.valid||(value='');" class="form-input">
            </div>
            <button type="submit" class="form-button">Привязать</button>
        </form>
    </section>

    <section class="info-section">
        Посмотреть все сеансы можно на вкладке "Афиша"
    </section>
</main>
</body>
</html>
