<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Афиша - СОВРЕМЕННИК</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{base :: header}"></header>
<form method="get" th:action="@{/poster/{filmId}(filmId=${filmId})}">
    <label for="sortBy">Сортировать по:</label>
    <select name="sortBy" id="sortBy">
        <option value="startOfSession">Дате</option>
        <option value="film.title">Названию</option>
    </select>

    <label for="direction">Направление:</label>
    <select name="direction" id="direction">
        <option value="asc">По возрастанию</option>
        <option value="desc">По убыванию</option>
    </select>

    <button type="submit">Применить</button>
</form>
<ul>
    <li th:each="filmSession : ${filmSessions}">
        <p th:text="'Фильм: ' + ${filmSession.film.title}">Фильм: FilmExample</p>
        <p th:text="'Кинотеатр: ' + ${filmSession.cinema.name}">Кинотеатр: CinemaExample</p>
        <p th:text="'Адрес: ' + ${filmSession.cinema.address}">Адрес кинотеатра: AddressExample</p>
        <p th:text="'Дата и время сеанса: ' + ${#temporals.format(filmSession.startOfSession, 'dd MMMM yyyy HH:mm', new java.util.Locale('ru', 'RU'))}">
            Дата и время сеанса: DateTimeExample</p>
        <a sec:authorize="hasAnyRole('CASHIER', 'SUPERADMIN')" th:href="@{/ticket/buy/{filmSessionId}(filmSessionId=${filmSession.id})}">Купить билет</a>
        <br/>
    </li>
</ul>
<footer th:replace="~{base :: footer}"></footer>
</body>
</html>