<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Управление кинотеатрами - СОВРЕМЕННИК</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{base :: header}"></header>
<main>
    <p><a href="/admin/dashboard">Назад</a></p>
    <!--  Форма для добавления или редактирования фильма  -->
    <section>
        <form th:action="@{${isEdit} ? '/film/' + ${filmId} : '/film'}" th:object="${editedFilm}" method="post">
            <div>
                <label for="film-title">Название: </label>
                <input type="text" id="film-title" name="title" placeholder="Звёздные войны: Эпизод 1 – Скрытая угроза"
                       th:field="*{title}" required>
            </div>
            <div>
                <label for="film-description">Описание: </label>
                <input type="text" id="film-description" name="description"
                       placeholder="Давным-давно в далекой Галактике..." th:field="*{description}">
            </div>
            <div>
                <label for="film-release-date">Дата выпуска: </label>
                <input type="date" id="film-release-date" name="releaseDate" th:field="*{releaseDate}" th:value="*{releaseDate}">
            </div>
            <div>
                <label for="film-duration">Продолжительность в минутах: </label>
                <input type="number" id="film-duration" name="duration" min="1" oninput="validity.valid||(value='');"
                       placeholder="110" th:field="*{duration}">
            </div>
            <button th:text="${isEdit} ? 'Редактировать' : 'Добавить'" type="submit">Добавить/Редактировать</button>
        </form>
    </section>

    <!-- Список всех фильмов -->
    <section>
        <h3>Список фильмов</h3>
        <ul>
            <li th:each="film : ${films}">
                <a th:href="@{/film/{filmId}(filmId=${film.id})}">
                    <span th:text="${film.title}"></span>
                </a>
                <span th:text="${film.description}"></span>
                <span th:text="${film.duration}"></span>
                <span th:text="${film.releaseDate}"></span>
            </li>
        </ul>
    </section>
</main>
<footer th:replace="~{base :: footer}"></footer>
</body>
</html>
