<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head"></head>
<body>
<header th:replace="~{base :: header}"></header>
<main class="auth-container">
    <div class="auth-box">
        <h2 class="auth-title">Вход в систему</h2>
        <form th:action="@{/login}" method="post" class="auth-form">
            <div class="form-group">
                <label for="username" class="form-label">Логин</label>
                <input type="text" id="username" name="username" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" id="password" name="password" class="form-input" required>
            </div>
            <button type="submit" class="auth-button">Войти</button>
        </form>
        <div>
            <p>superadmin может все</p>
            <p>login: superadmin</p>
            <p>pass: superadmin</p>
            <br>
        </div>
        <div>
            <p>distributor может загружать новые фильмы</p>
            <p>login: distributor</p>
            <p>pass: distributor</p>
            <br>
        </div>
        <div>
            <p>cashier может покупать билеты и оформлять возврат</p>
            <p>login: cashier</p>
            <p>pass: cashier</p>
            <br>
        </div>
        <div>
            <p>admin может то же, что cashier, но еще создавать сеансы и добавлять новые кинотеатры</p>
            <p>login: admin</p>
            <p>pass: admin</p>
            <br>
        </div>

    </div>
</main>
</body>
</html>
